.pack.paracas2 {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900467/ATG/Packs/2%20day%20VIP%20intimar%20Pack/IntiMar_Paracas_Bay-Paracas-Aussenansicht-942339.jpg');
}

.pack.huacachina {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900476/ATG/Packs/Huacachina%20Pack/5b9aa200b8f03.jpg');
}

.pack.arequipa {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900457/ATG/Packs/Colca%20Canyon%20Volcano%20Trek%20Pack/Colca_Canyon5.jpg');
}

.pack.canyon {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900460/ATG/Packs/Colca%20Canyon%20Volcano%20Trek%20Pack/Colca_Canyon2.jpg');
}

.pack.tarapoto {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900466/ATG/Packs/Tarapoto%20Laguna%20Azul/tour-laguna-azul-3-1024x684.jpg');
}

.pack.miraflores {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900465/ATG/Packs/Miraflores%20Sap%20RnR%20Pack/Miraflores_Lima_Peru_skyline.jpg');
}

.pack.royalty {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900464/ATG/Packs/Cuzco%20Royalty%20Tour/19822922902_68f432b6fe_b.jpg');
}

.pack.exotic {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565900473/ATG/Packs/Exotic%20Eats%20Cuzco%20Pack/catedral-cusco-peru-01.jpg');
}