:root {
	--slider-bg: #000000;
	/*Grays*/
	--darkgray: #806666;
	--lightgray: #666666;
	/*.....*/
	/*Blues*/
	--font-blue: #32e0c9;
	/*.....*/
	/*Oranges*/
	--light-orange: #f4a4609c;
	/*.......*/
	--font-light: #ffffff;
	--anchor-color: #407afc;
	--packages-title-bg: rgba(125, 59, 136, .5);
	--packages-bg: #0252af;
}

.stars {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 15px);
	margin: 0;
	left: 0;
	column-gap: 5px;
}

.stars > div {
	height: 15px;
	justify-self: stretch;
	align-self: stretch;
	content: "";
	background-image: url('./icons/star-solid.svg');
	background-repeat: no-repeat;
}

#chat-bubble {
	position: fixed;
	width: 60px;
	height: 60px;
	background: url('../css/icons/comment-alt-solid.svg');
	right: 1em;
	bottom: 1.6em;
	padding: .5em;
	background-size: 2em;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--anchor-color);
	z-index: 3;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.04);
}


div#yak-chat-embended {
	position: fixed;
	right: 1em;
	bottom: 1.6em;
	width: 35%;
	height: 90vh;
	background: #fff;
	z-index: 1001;
	border-radius: 4px;
	box-shadow: 0 12px 20px 0 rgba(0,0,0,.15);
	transition: opacity .5s ease-in;
}

yak-main-container #container {
	border: none;
	background-color: #fff;
}

div[class^="user-actions"] {
	grid-template-columns: 1fr 1fr 1fr !important;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	/* display: none; */
}

div#tepago-area {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: grid;
	z-index: 1001;
	background-color: rgba(0,0,0,.3);
	margin: 0 1em;
}

div#tepago-area > * {
	place-self: center;
	background: #fff;
	padding: 5px 5px;
	border-radius: 4px;
}

main-header > div {
	grid-template-columns: 3fr 1fr 1fr 1fr!important;
}

#tepago-close {
	place-self: center end;
	padding-right: 10px;
	cursor: pointer;
}

/*  ------COMING SOON RIBBONS----------- */
/* The ribbons */

.corner-ribbon{
	width: 200px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  /* Custom styles */
  
  .corner-ribbon.sticky{
	position: fixed;
  }
  
  .corner-ribbon.shadow{
	box-shadow: 0 0 3px rgba(0,0,0,.3);
  }
  
  /* Different positions */
  
  .corner-ribbon.top-left{
	top: 25px;
	left: -50px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .corner-ribbon.top-right{
	top: 25px;
	right: -50px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }
  
  .corner-ribbon.bottom-left{
	top: auto;
	bottom: 25px;
	left: -50px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }
  
  .corner-ribbon.bottom-right{
	position: relative;
	top: auto;
	right: -64%;
	bottom: 44%;
	left: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	}
	.corner-ribbon.bottom-right.small {
		right: -60%;
	}
  
  /* Colors */
  
  .corner-ribbon.white{background: #f0f0f0; color: #555;}
  .corner-ribbon.black{background: #333;}
  .corner-ribbon.grey{background: #999;}
  .corner-ribbon.blue{background: #39d;}
  .corner-ribbon.green{background: #2c7;}
  .corner-ribbon.turquoise{background: #1b9;}
  .corner-ribbon.purple{background: #95b;}
  .corner-ribbon.red{background: #e43;color: #f2f2f2;}
  .corner-ribbon.orange{background: #e82;}
  .corner-ribbon.yellow{background: #ec0;}