:root {
	--slider-bg: #000000;
	/*Grays*/
	--darkgray: #806666;
	--lightgray: #666666;
	/*.....*/
	/*Blues*/
	--font-blue: #32e0c9;
	/*.....*/
	/*Oranges*/
	--light-orange: #f4a4609c;
	/*.......*/
	--font-light: #ffffff;
	--anchor-color: #407afc;
	--packages-title-bg: rgba(125, 59, 136, .5);
	--packages-bg: #0252af;
}
