:root {
	--slider-bg: #000000;
	/*Grays*/
	--darkgray: #806666;
	--lightgray: #666666;
	/*.....*/
	/*Blues*/
	--font-blue: #32e0c9;
	/*.....*/
	/*Oranges*/
	--light-orange: #f4a4609c;
	/*.......*/
	--font-light: #ffffff;
	--anchor-color: #407afc;
	--packages-title-bg: rgba(125, 59, 136, .5);
	--packages-bg: #0252af;
}

.stars {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 15px);
	margin: 0;
	left: 0;
	column-gap: 5px;
}
.stars > div {
	height: 15px;
	justify-self: stretch;
	align-self: stretch;
	content: "";
	background-image: url('./icons/star-solid.svg');
	background-repeat: no-repeat;
}

