@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');
* {
	font-family: 'Roboto';
}

/* Body Section. */
body, html {
	margin: 0;
	background-color: ghostwhite;
}

/* First Section - Gradient, Big Package image,text and logo. */

.logo {
	position: relative;
	padding: 15px;
	cursor: pointer;
}

.first {
	position: relative;
	height: 60vh;
	overflow: hidden;
}

.first.init {
	height: 100vh;
}

.gradient {
	height: 7em;
	position: absolute;
	bottom: 0;
	/* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0,0.9) 40%); */
	width: 100%;
	display:grid;
	grid-auto-flow: column;
	grid-template-columns: 1.5fr auto;
}

.gradient > div {
	font-size: .8em;
}

.gradient button, .book {
	height: 1.5em;
	background-color: orange;
	color: #000;
	place-self: center;
	margin-bottom: 10px;
	border-radius: 6px;
	outline: none;
	border: 1px solid orange;
	font-size: 22px;
	padding: 0px 25px;
	cursor: pointer;
	transition: all .5s ease;
}

.gradient button:hover {
	transition: all .5s ease;
	color: orange;
	border:  1px solid orange;
	background-color: rgba(0, 0, 0, 0);
}

h1, h3 {
	color: var(--font-light);
	text-align: center;
	font-weight: 300;
	margin: 0;
}
section {
	padding: 50px 100px;
}

/*Titles*/

.title {
	position: relative;
}

.title::before {
	position: absolute;
	content: "";
	height: 3px;
	background-color: var(--font-blue);
	left: 0;
	right: 0;
	z-index: 1;
	top: calc(50% - 1.5px);
}

.title > div {
	position: relative;
	font-size: 2.5em;
	font-weight: 400;
	font-style: italic;
	z-index: 1000;
	text-align: center;
	color: white;
	background-color: var(--font-blue);
	width: fit-content;
	margin: 0 auto 1em auto;
	border-radius: 10px;
	padding: 10px;
}

.text {
	display: grid;
	margin-top: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

.text > ul {
	font-size: 16px;
	text-align: start;
	list-style-type: none;
	list-style-image: url('./icons/star-solid.svg');
	padding-left: 20px;
	padding-right: 20px;
}

.text > ul > li {
	margin: 5px 0;
	font-size: 1em;
}

.text > a {
	text-align: start;
	font-size: 1.2em;
	border-bottom: 1px solid var(--darkgray);
}

.read-more {
	align-self: center;
	justify-self: right;
	padding: 40px;
	text-decoration: underline;
	font-size: 150%;
	color: var(--anchor-color);
	grid-area: 2 / 3;
}

.text .read-more {
	transition: .5s;
}

.text:hover {
	cursor:pointer;
}

.read-more:hover{
	text-decoration: underline;
	cursor:pointer;
}

/* Third Section - Slider */


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 90%;
  margin-bottom: 4em;
  max-height: 338px;
  overflow: hidden;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: .2s;
}

.slide-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slidertext {
  color: #f2f2f2;
  font-size: 2.5em;
  padding: 8px 12px;
  position: absolute;
  top: 43%;
  width: 80%;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
  z-index: 2;
  left: 10%;
}

/* Number text (1/7 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none;
  opacity: 0;
}

.mySlides.fade.active {
    display: block;
    opacity: 1;
}

/* Forth (Spacing) Section - Just a few pixels between the Slider and the Comment section. */

.sep {
	height: 50%;
	background-color: white;
	color: white;
}

/* Footer - Icons for Ecofriendly, Trip Advisor and English/Spanish Language */

footer {
	display: grid;
	background-color: var(--darkgray);
	grid-auto-flow: column;
}

.icons {
	display: grid;
	/* grid-column-start: 3; */
	align-content: center;
	grid-auto-flow: column;
}


.icons img {
    width: 2em;
}

.icons > * {
    place-self: center;
    cursor: pointer;
}

footer > p {
	text-align: start;
	color: var(--font-light);
	padding-left: 10px;
	margin: 15px 0;
}

@-webkit-keyframes move-bg {
	0% {
		-webkit-transform: translateX(0);
	}
	25% {
		-webkit-transform: translateX(-3%);
	}
	50% {
		-webkit-transform: translateX(-5%);
	}
	75% {
		-webkit-transform: translateX(-3%);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
.moving-background {
	content: "";
	background-position: cover;
	top: -5%;
	left: -6%;
	bottom: -5%;
	right: -6%;
	overflow: hidden;
	position: absolute;
	animation-name: move-bg;
	animation-duration: 30s;
	animation-timing-function: linear;
	box-shadow: inset 0px -3px 125px 94px;
	animation-iteration-count: infinite;
}

.moving-background.init {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564095631/ATG/atg-mp-big.jpg');
	background-size: cover;
	/* box-shadow: inset 0px -3px 125px 94px; */
}

.init .gradient {
	grid-template-columns: auto;
	height: 8em;
	grid-auto-flow: row;
}

.gradient-white.landpage {
	background-color: ghostwhite;
	padding-bottom: 2em;
}

.gradient-white.landpage > div {
	width: 6em;
	align-self: end;
	margin-bottom: 2em;
	justify-self: center;
	margin: auto;
	text-align: center;
	margin-bottom: 1em;
}