@media only screen and (min-device-width: 300px) 
				   and (max-device-width: 800px) 
				   and (orientation: portrait) {
	.first {
		background-size: cover;
		background-position: center;
	}
	.second {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: auto;
		grid-gap: 50px;
	}
	.read-more {
		grid-area: auto;
	}
	.pack {
		height: 300px;
		width: auto;
		margin: 0 10px 0 10px;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		border-radius: 3px;
		background-position: bottom center;
	}
	.packages {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: auto;
		column-gap: unset;
	}
	.include-area {
		border-top: 1px solid #f4a46047;
		border-left: none;
	}
}
