/* trending-packages Section - Package Section and Read More. */
.trending-packages {
	background-color: ghostwhite;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	/* grid-column-gap: 1em; */
	grid-row-gap: 1.5em;
	margin: 1em 0;
	cursor: pointer;
	user-select: none;
}

.trending-packages.init {
	padding-top: 0;
	margin-bottom: 1em;
}

.trending-packages > *:not(.gradient-white) {
	background-color: #fff;
	padding: 0 0 5px 0;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	max-width: 350px;
	overflow: hidden;
	min-width: 350px;
	justify-self: center;
}

.trending-packages > *:not(.gradient-white):hover {
	box-shadow: 0 0 8px rgba(0,0,0,.35);
}

.text {
	display: grid;
	margin-top: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

.text > ul {
	font-size: 16px;
	text-align: start;
	list-style-type: none;
	list-style-image: url('./icons/star-solid.svg');
	padding-left: 20px;
	padding-right: 20px;
}

.text > ul > li {
	margin: 5px 0;
	font-size: 1em;
}

.text > a {
	text-align: start;
	font-size: 1.3em;
	color: var(--darkgray);
	border-bottom: 1px solid var(--darkgray);
}

.pack {
	height: 300px;
	width: auto;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.paracas {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565989140/ATG/Packs/paracascolorful.jpg');
}

.machupicchu {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565986844/ATG/Packs/acient_megaverga.jpg');
	background-position: center;
}

.lima {
	background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1565986897/ATG/Packs/1547657073-49899908-1958822330833343-3696327805026435072-ojpg.jpg');
	background-position: bottom center;
}
/*----------------------------------------*/