
.tags {
	position: absolute;
	bottom: -63px;
	background: rgba(255,255,255,.5);
	padding: 1em 0;
	/* box-shadow: inset 1px -5px 9px 2px #444040; */
	box-sizing: border-box;
}

tag-selector {
	display: flex;
	overflow-x: auto;
	max-width: 100vw;
}

.category-box {
	display: inline-flex;
	flex: 1 0 auto;
}

.tags-box {
	display: inline-flex;
	flex: 1 0 auto;
}

pretty-tag span {
	white-space: nowrap;
}

.category-box > span {
	font-style: italic;
	margin: 0 6px;
	color: rgba(255, 165, 0, 1);
	padding-left: 5px;
	cursor: default;
	user-select: none;
}

pretty-tag > div {
	color: #fff;
}

.tags-box > pretty-tag {
	margin: 0 5px;
}

tag-selector::-webkit-scrollbar {
	display: none;
}