
.tags {
	position: absolute;
	bottom: -63px;
	background: var(--lightgray);
	padding: 1em 0;
	overflow-x: overlay;
	max-width: 1300px;
	box-shadow: inset 1px -5px 9px 2px #444040;
	box-sizing: border-box;
}

tag-selector {
	display: grid;
	grid-auto-flow: column;
}

.category-box {
	display: inline-flex;
}

.tags-box {
	display: inline-flex;
}

pretty-tag span {
	white-space: nowrap;
}

.category-box > span {
	font-style: italic;
	margin: 0 6px;
	color: rgba(255, 165, 0, .8);
}

pretty-tag > div {
	color: #fff;
}

.tags-box > pretty-tag {
	margin: 0 5px;
}

.tags::-webkit-scrollbar {
	display: none;
}