@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');
* {
	font-family: 'Roboto';
}

/* Body Section. */
body, html {
	margin: 0;
	background-color: ghostwhite;
}


:root {
	--slider-bg: #000000;
	/*Grays*/
	--darkgray: #806666;
	--lightgray: #666666;
	/*.....*/
	/*Blues*/
	--font-blue: #32e0c9;
	/*.....*/
	/*Oranges*/
	--light-orange: #f4a4609c;
	/*.......*/
	--font-light: #ffffff;
	--anchor-color: #407afc;
	--packages-title-bg: rgba(125, 59, 136, .5);
	--packages-bg: #0252af;
}

.stars {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(5, 15px);
	margin: 0;
	left: 0;
	column-gap: 5px;
}

.stars > div {
	height: 15px;
	justify-self: stretch;
	align-self: stretch;
	content: "";
	background-image: url('./icons/star-solid.svg');
	background-repeat: no-repeat;
}

#chat-bubble {
	position: fixed;
	width: 60px;
	height: 60px;
	background: url('./icons/comment-alt-solid.svg');
	right: 1em;
	bottom: 1.6em;
	padding: .5em;
	background-size: 2em;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--anchor-color);
	z-index: 3;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.04);
}


div#yak-chat-embended {
	position: fixed;
	right: 1em;
	bottom: 1.6em;
	width: 35%;
	height: 90vh;
	background: #fff;
	z-index: 1001;
	border-radius: 4px;
	box-shadow: 0 12px 20px 0 rgba(0,0,0,.15);
	transition: opacity .5s ease-in;
}

yak-main-container #container {
	border: none;
	background-color: #fff;
}

div[class^="user-actions"] {
	grid-template-columns: 1fr 1fr 1fr !important;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	/* display: none; */
}

div#tepago-area {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: grid;
	z-index: 1001;
	background-color: rgba(0,0,0,.3);
	margin: 0 1em;
}

div#tepago-area > * {
	place-self: center;
	background: #fff;
	padding: 5px 5px;
	border-radius: 4px;
}

main-header > div {
	grid-template-columns: 3fr 1fr 1fr 1fr!important;
}

#tepago-close {
	place-self: center end;
	padding-right: 10px;
	cursor: pointer;
}

#container {
	display: grid;
	overflow-x: hidden;
}

.metapackage {
	height: 90vh;
	background-color: ghostwhite;
}