@media only screen 
  and (max-device-width: 800px)
  and (min-device-width: 300px)
  and (orientation: portrait) {
	main-filter > div {
		grid-template-columns: 1fr !important;
		grid-template-rows: 1fr 1fr 1fr;
		height: unset !important;
		width: 100% !important;
		grid-row-gap: 10px;
	}
	.pax-opt {
		left: -194px !important;
	}
	.depart-opt{
		left: -138px !important;
	}
	main-filter > div > * {
		place-self: end !important;
		padding-right: 10px;
	}
	.meta-body { 
		grid-template-columns: 1fr !important;
		grid-template-rows: 594px 594px 594px;
		overflow-y: auto !important;
	}
}
