 /* Body Section. */

body, html {
   margin: 0;
   font-family: "roboto"}
 

/* First Section - Gradient, Big Package image,text and logo. */

 .logo {
  position: relative;
  padding: 15px;
}

.first {
    position: relative;
    background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564095631/ATG/atg-mp-big.jpg');
    background-size: cover;
    height: 100vh;
}

.gradient {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0,0.9) 40%);
  width: 100%;
}

h1, h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

/* Second Section - Package Section and Read More. */

.second {
  height: 60vh;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  align-content: center;
  padding-left: 150px; 
}

.pack {
  height: 350px;
  width: 350px;
}

.paracas {
  background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564342728/ATG/Paracas.jpg');
  background-repeat: no-repeat;
}

.machupicchu {
  background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564342728/ATG/Machu_Picchu.jpg');
  background-repeat: no-repeat;
}

.lima {
  background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564101948/ATG/Lima.png');
  background-repeat: no-repeat;
}

  .text {
    height: 5vh;
    position: relative;
    top: 300px;
    text-align: center;
    padding: 6%;
    font-size: 150%;
    }

  .read-more {
    grid-column-start: 3;
    align-self: center;
    justify-self: right;
    padding: 40px;
    text-decoration: underline;
    font-size: 150%;
    color: blue;
  }

  .text .read-more {
    transition: .5s;
  }
  
  .text:hover {
    text-decoration: underline;
    cursor:pointer;
  }

  .read-more:hover{
    text-decoration: underline;
    cursor:pointer;
  }

/* Third Section - Slider */

  .slider {
    height: 60vh;
    background-color: black;
    }

  /* Forth (Spacing) Section - Just a few pixels between the Slider and the Comment section. */

  .sep {
    height: 50%;
    background-color: darkgray;
    
  }

  /* Fifth Section - Comment section. */

  .comments {
    height: 40vh;
    background: url('https://res.cloudinary.com/dlia7phdx/image/upload/v1564095631/ATG/atg-mp-big.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    align-content: center;
    text-align: -webkit-center;
    color: white;
    font-weight: 300;
    }

    .title {
      grid-column-start: 1; 
      grid-column-end: 4; 
      grid-row-start: 1; 
      grid-row-end: 3; 
      height: 80px;
      font-size: 200%;
      text-decoration: underline;
      font-weight: 300;
    }

  /* Footer - Icons for Ecofriendly, Trip Advisor and English/Spanish Language */

  footer {
    height: 5vh;
    background-color:rgba(51, 51, 51, 0);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .icons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-start: 4;
    align-content: center;
  }

footer > p {
  text-align: center;
  color: white;
}
