.depart-date > input {
	width: 4em;
	outline: none;
	padding: 5px 5px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	color: #666;
	justify-self: center;
}

.depart-date {
	display: grid;
	grid-template-columns: 7em 5em;
	color: #fff;
}

.depart-date > div {
	display: grid;
	color: #1890ff;
	background-color: #fff;
	border-radius: 4px;
	width: -webkit-fill-available;
}

.depart-date > * {
	place-self: center;
}

.depart-date input {
	width: 4em;
	justify-self: center;
	color: #666;
	background-color: transparent;
	border: none;
	outline: none;
	user-select: none;
}

.depart-date svg {
	justify-self: center;
	width: -webkit-fill-available;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
}

.depart-date svg:hover {
	color: #40a9ff;
	transform: scale(1.3);
}
.depart-date > label {
	justify-self: center;
}

.depart-date > svg {
	justify-self: center;
	color: #fff;
}